{% extends "layouts/base_without_sidebar.html" %}

{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Cadastro</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Bolsas</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Ganhadores</a>
					</li>
				</ul>
			</div>
			<form action=""  method="POST">	
				<div class="col-md-12">
					<div class="card">
						<div class="card-header" >
						<div class="col-md-5 col-lg-5">	
							<div class="form-check">
								<label>IMPORTANTE!<br>
								A comunidade PretUX é um ambiente constituído por pessoas pretas.<br> 
								Um espaço onde todos ficam mais à vontade para compartilhar ideias, pensamentos e dores.<br> 
								Caso você não se reconheça como uma pessoa preta, pedimos que acompanhe nosso conteúdo <br>
								nas redes sociais ou preencha nosso formulário no site para colaboradores. 
							    Ciente do aviso, você se considera uma pessoa preta?</label><br/>
										<label class="form-radio-label">
										    {{ form.hidden_tag() }}
										    {{ form.blackpeople( class='radio-inline', type="radio") }}
										</label>
										<input type="hidden" name="uuid" value="oioioi" class="form-control">
									</div>
							</div>
							</div>
						</div>
						<div class="card-action">
						    <button class="btn btn pull-left">Anterior</button>
							<button class="btn btn-dark pull-right">Proximo</button>
						</div>
							<div class="table-responsive">
							</div>
						</div>
					</div>
				</div>
			</form>	
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
